* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #fff;
  color: #05AFFA;
  border-bottom: 1px solid #05AFFA;
  box-shadow: 0 2px 2px -2px #2D2D2D;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-family: 'Orbitron';
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-left: 5%;
  height: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-family: helvetica, sans-serif;
  font-weight: lighter;
}

.about {
  font-size: 1.4em;
  width: 60%;
  color: #2d2d2d;
}

.input {
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  font-size: 1em;
  color: #2d2d2d;
}

button {
  font-size: 1em;
  background: #05AFFA;
  color: #fff;
  border: 1px solid #05AFFA;
  margin-left: 1em;
  outline: none;
  padding: .5em;
}

button:hover {
  background: #fff;
  color: #05AFFA;
  border: 1px solid #05AFFA;
  cursor: pointer;
}

.root {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  color: #2d2d2d;
}

.error {
  font-size: 2em;
  color: #E31017;
}

span#digital-root {
  font-weight: bold;
}

.hidden {
  display: none;
}
